* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;
}

h1 {
    margin: 10px;
}

p {
    margin: 10px;
    width: 50%;
}
li {
    list-style: none;
    margin: 10px;
}

a {
    margin-bottom: 10px;
}